<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

</head>
<body>
{% extends 'lookspace_app/html/base.html' %}
    {% block content %}

    <form >
            {% csrf_token %}
        <div class="user_input">
                <label><b>Enter Start Date </b></label>
                <input type="date" name="start_date" id="start_date">
        </div>
        <div class="user_input">
                <label><b>Enter End Date </b></label>
                <input type="date" name="end_date" id="end_date">
        </div>
        <div class="user_input">
                <label><b>Enter Start Date </b></label>
                <input type="time" name="start_time" id="start_time">
        </div>
        <div class="user_input">
                <label><b>Enter End Date </b></label>
                <input type="time" name="end_time" id="end_time">
        </div>
        <input type="submit" >
      </form>
       <h3>Comments</h3>
        {{comment}}
    {% endblock %}
</body>
</html>