<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }

            </style>
    </head>
    <body>
    {% extends 'lookspace_app/html/base.html' %}
    {% block content %}
    <table>
    <tr>
        <th>Space Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
        {% for data in final %}
                <tr>
                    <td>{{data.space}}</td>
                    <td>{{data.start_date}}</td>
                    <td>{{data.end_date}}</td>
                    <td>{{data.start_time}}</td>
                    <td>{{data.end_time}}</td>
                </tr>

        {% endfor %}
    </table>

    {% endblock %}
    </body>
</html>