{% extends 'lookspace_app/html/base.html'%}
{% load static %}
{% block header %}
<head>
    <link rel = "stylesheet" type="text/css" href="{% static '/lookspace_app/css/partnerform_style.css' %}">
    <!-- <link rel = "stylesheet" type="text/css" href="{% static '/lookspace_app/css/utils.css' %}"> -->
    <link rel = "stylesheet" type="text/css" href="{% static '/lookspace_app/css/main.css' %}">

</head>
{% endblock header %}
{% block content%}
<body>

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/static/lookspace_app/images/sign-in.jpg);">
					<span class="login100-form-title-1">
            Sign up for a free account
					</span>
				</div>
        <div class="box-1">
          <div class = "btn1" >
            <a class = "btn btn-signup" href="{% url 'customer_signup' %}">I am a Customer</a>
          </div>
          <div class = "btn2">
              <a class = "btn btn-signup" href="{% url 'partner_signup' %}">I am a Partner</a>
          </div>
        </div>
			</div>
		</div>
</div>
</body>
{% endblock content  %}

