
{% extends 'lookspace_app/html/base.html'%}
{% load static %}
{% block header %}
<head>
        <link rel = "stylesheet" type="text/css" href="{% static '/lookspace_app/css/user_dashboard.css' %}">
</head>
{% endblock header %}
{% block content %}
<body>
		<div class="container-table">
			<div class="wrap-table">
				<div class="table space_table m-b-110">
					<table data-vertable="space_table">
						<thead>
							<tr class="row100 head">
								<th class="column column-head" data-column="column-head">Space Type</th>
								<th class="column seater-column" data-column="seater-column">Seater</th>
								<th class="column time-column" data-column="time-column">Time</th>
								<th class="column price-column" data-column="price-column">Price Per Quantity</th>
							</tr>
						</thead>
						<tbody>
                            {% for data in all_data %}
							<tr class="row100">
								<td class="column column-head" data-column="column-head">{{data.space_type}}</td>
								<td class="column seater-column" data-column="seater-column">{{data.seater}}</td>
								<td class="column time-column" data-column="time-column">{{data.time}}</td>
								<td class="column price-column" data-column="price-column">{{data.price}}</td>
                            </tr>
                            {% endfor %}
						</tbody>
					</table>
                </div>
            </div>
        </div>
        <div class="container-space-table">
                <div class="wrap-space-table">
                    <div class="table avail-space m-b-110">
                        <table data-vertable="avail-space">
                            <thead>
                                <tr class="space-row head">
                                    <th class="space-column space-column-head" data-column="column-head">Space Type</th>
                                    <th class="space-column space-seater-column" data-column="seater-column">Seater</th>
                                    <th class="space-column space-time-column" data-column="time-column">Time</th>
                                    <th class="space-column space-price-column" data-column="price-column">Price Per Quantity</th>
                                    <th class="space-column space-availability-column" data-column="time-column">Availability</th>
                                    <th class="space-column space-book-column" data-column="price-column">Book</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in all_data %}
                                <tr class="space-row">
                                    <td class="space-column space-column-head" data-column="column-head">{{data.space_type}}</td>
                                    <td class="space-column space-seater-column" data-column="seater-column">{{data.seater}}</td>
                                    <td class="space-column space-time-column" data-column="time-column">{{data.time}}</td>
                                    <td class="space-column space-price-column" data-column="price-column">{{data.price}}</td>
                                    <td class="space-column space-availability-column" data-column="price-column"><a class = "button" href="availability/{{data.id}}">CHECK AVAILABILITY</a></td>
                                    <td class="space-column space-book-column" data-column="price-column"><a class = "button" href="booking/{{data.id}}">BOOK NOW</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</body>
{% endblock content %}
