{% extends 'lookspace_app/html/base.html'%}
{% load static %}
{% block header %}
<head>
    <link rel = "stylesheet" type="text/css" href="{% static '/lookspace_app/css/partnerform_style.css' %}">
    <link rel = "stylesheet" type="text/css" href="{% static '/lookspace_app/css/utils.css' %}">
</head>
{% endblock header %}
{% block content%}
<body>
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/static/lookspace_app/images/partner3.jpg);">
					<span class="login100-form-title-1">
                        Sign Up
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter Username">
						<span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                            <span class="label-input100">Email</span>
                            <input class="input100" type="text" name="username" placeholder="Enter Email">
                            <span class="focus-input100"></span>
                        </div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Enter Password">
						<span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                            <span class="label-input100">Confirm Password</span>
                            <input class="input100" type="password" name="pass" placeholder="Repeat your Password">
                            <span class="focus-input100"></span>
                        </div>

					<div class="flex-sb-m w-full p-b-30">
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Register
						</button>
                    </div>
                    <div class="signup-image">
                        <a href="/partner_signin" style = "line-height:5.3;" class="signup-image-link">I am already member</a>
                    </div>
				</form>
			</div>
		</div>
    </div>
</body>
{% endblock content  %}

