* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}
/* All Spaces */
.container-table
 {
    width: 100%;
    background: #d1d1d1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4vw 4vw;
}

.wrap-table {
  width: 80vw;
}
table {
  width: 100%;
  background-color: #fff;
}
.column {
  width: 8vw;
  font-weight: unset;
}

.column.column-head {
  width: 12vw;
  padding-left: 1vw;
}

.row100.head th {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.row100 td {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.table.space_table td {
  font-family: Montserrat-Regular;
  font-size: 1em;
  color: #808080;
  line-height: 1.4;
}

.table.space_table th {
  font-family: Montserrat-Medium;
  font-size: 1em;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #36304a;
}
.table.space_table .hov-column-head-space_table {
  background-color: #484848 !important;
}

.table.space_table .row100 td:hover {
  background-color: #a1a8dd;
  color: #fff;
}
.button{
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    background-color: #201f61a9;
    padding: 0.5vw 0.5vw;
    }
.button:hover{
    text-decoration: none;
    color: white;
    background-color: #201f61a9;
}

@media screen and (max-width: 768px){

.container-table
 {
    width: 100%;
    background: #d1d1d1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vw 2vw;
}

.wrap-table {
  width: 80vw;
}

table {
  width: 100%;
  background-color: #fff;
}
.column {
  width: 8vw;
  font-weight: unset;
}

.column.column-head {
  width: 12vw;
  padding-left: 1vw;
}

.row100.head th {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.row100 td {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.table.avail-space td {
  font-family: Montserrat-Regular;
  font-size: 1em;
  color: #808080;
  line-height: 1.4;
}

.table.avail-space th {
  font-family: Montserrat-Medium;
  font-size: 1.1em;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #36304a;
}
.table.avail-space .hov-column-head-avail-space {
  background-color: #484848 !important;
}

.table.avail-space .row100 td:hover {
  background-color: #a1a8dd;
  color: #fff;
}
}
@media screen and (max-width: 414px){

.container-table
 {
    width: 100%;
    background: #d1d1d1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3vw 3vw;
}

.wrap-table {
  width: 100vw;
}

table {
  width: 100%;
  background-color: #fff;
}
.column {
  width: 3vw;
  font-weight: unset;
}

.column.column-head {
  width: 4vw;
  padding-left: 1vw;
}

.row100.head th {
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-left: 0vw;
  padding-right: 0vw;
  border-left: 0.5px groove;
}

.row100 td {
  padding-top: 1vh;
  padding-bottom: 0vh;
  padding-left: 0vw;
  padding-right: 0vw;
  border-left: 0.5px groove;

}
.table.avail-space td {
  font-family: Montserrat-Regular;
  font-size: 0.5em;
  color: #808080;
  line-height: 1.4;
}
.table.avail-space th {
  font-family: Montserrat-Medium;
  font-size: 0.5em;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #36304a;
}
}
/* Available Space */
.container-space-table{
  width: 100%;
  background: #d1d1d1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4vw 4vw;
}
.wrap-space-table{
  width: 80vw;
}
table {
  width: 100%;
  background-color: #fff;
}
.space-column {
  width: 8vw;
  font-weight: unset;
}

.space-column.space-column-head {
  width: 12vw;
  padding-left: 1vw;
}

.space-row.head th {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.space-row td {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.table.avail-space td {
  font-family: Montserrat-Regular;
  font-size: 1em;
  color: #808080;
  line-height: 1.4;
}

.table.avail-space th {
  font-family: Montserrat-Medium;
  font-size: 1em;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #36304a;
}
.table.avail-space .hov-space-column-head-avail-space {
  background-color: #484848 !important;
}

.table.avail-space .space-row100 td:hover {
  background-color: #a1a8dd;
  color: #fff;
}
.button{
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    background-color: #201f61a9;
    padding: 0.5vw 0.5vw;
    }
.button:hover{
    text-decoration: none;
    color: white;
    background-color: #201f61a9;
}
@media screen and (max-width: 414px){
  .container-space-table{
    width: 100%;
    background: #d1d1d1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4vw 4vw;
  }

  .wrap-space-table{
    width: 100vw;
  }
  .table {
    width: 100%;
    background-color: #fff;
  }
  .space-column {
    width: 2px;
    font-weight: unset;
  }

  .space-column.space-column-head {
    width: 12vw;
    padding-left: 1vw;
  }

  .space-row.head th {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-left: 1px groove;
  }

  .space-row td {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0vw;
    padding-right: 0vw;
    border-left: 1px groove;
  }

  .table.avail-space td {
    font-family: Montserrat-Regular;
    font-size: 0.6em;
    color: #808080;
    line-height: 1.4;
    text-align: center;
  }

  .table.avail-space th {
    font-family: Montserrat-Medium;
    font-size: 0.6em;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #36304a;
  }
  .table.avail-space .hov-space-column-head-avail-space {
    background-color: #484848 !important;
  }

  .table.avail-space .space-row100 td:hover {
    background-color: #a1a8dd;
    color: #fff;
  }
  .button{
      display: flex;
      color: #FFF;
      transition: all 0.5s;
      position: relative;
      background-color: #201f61a9;
      padding: 0.5vw 0.5vw;
      text-align: center;
      }
  .button:hover{
      text-decoration: none;
      color: white;
      background-color: #201f61a9;
  }

}
@media screen and (max-width: 768px){

}


